header {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container h1{
font-size: 40px;
margin: 0;
font-weight: bold;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  margin-left: auto;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00;
}

nav ul li a.active {
  color: #ffcc00;
}

.profile-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.profile-link:hover {
  color: #ffcc00;
}
footer {
  background-color: #007bff; 
  color: white; 
  padding: 20px 0; 
}

.contain {
  display: flex;
  justify-content: space-around;

}

.footer-info {
  width: 30%; 
  font-weight: bold;
}

.footer-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}
.footer-info p {
  font-size: 18px;
  margin: 5px 0;
}

.footer-info li{
  list-style-type: none;
}
.footer-info li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  margin: 5px 0;
  list-style-type: none;
}
.footer-info li a:hover{
  color: #ffcc00;

}
.imagesection{
  background-image: url('/static/images/im.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  color: white; 
  padding: 50px; /* Adds padding around the text to ensure readability */
  text-align: center;
 
}

.imagesection .text {
  padding: 20px; /* Add some padding around the text */
}

.welcome-message {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background for better readability */
  padding: 20px; /* Padding around the welcome message */

}

.text{
  color: #fff;
}

.text #greeting {
  font-size: 24px; 
  text-align: center;
}

.text #username {
  font-weight: bold; /* Make the username bold */
}
.working {
  background-color: #f0f0f0; /* Background color for the div */
  padding: 20px; /* Add padding around the content */
  margin-bottom: 20px; /* Add space between this div and the next element */
  border-radius: 10px; /* Add rounded corners */
}

.working h1 {
  text-align: center;
  color: #333; /* Text color for the main heading */
  font-size: 24px; /* Font size for the main heading */
  margin-bottom: 10px; /* Add space below the main heading */
}

.working h3 {
  color: #666; 
  font-size: 18px;
  margin-bottom: 10px; /* Add space below each subheading */
}
