{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MentorMate</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
  <script src="{% static 'js/homepage.js' %}"></script>
</head>
<body>
  <header>
    <div class="container">
      <h1>MentorMate</h1>
      <nav>
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#">Search</a></li>
          <li><a href="#">Chats</a></li>
          <li><a href="{% url 'authentication:profile' %}">Profile</a></li>
        </ul>
      </nav>
    </div>
       <div class="text">
    <div class="welcome-message">
      <h1 id="greeting">
        Good Evening {{user.username}} <b> 
          lets find you a mentor!
      </h1>
    </div>
    <script>
      // JavaScript to dynamically change the greeting based on the time of day
      var today = new Date();
      var hour = today.getHours();

      var greeting = document.getElementById("greeting");

      if (hour >= 5 && hour < 12) {
        greeting.innerHTML =
          "Good Morning {{user.username}}, <b> lets find you a mentor!";
      } else if (hour >= 12 && hour < 18) {
        greeting.innerHTML =
          "Good Afternoon {{user.username}}, <b>lets find you a mentor!";
      } else {
        greeting.innerHTML =
          "Good Evening {{user.username}}, <b> lets find you a mentor!";
      }



    </script>
  </header>

  {% include 'slider.html' with sliderdata=slides %}


  <div class="imagesection">


  

    <h1>Grow your skills now</h1>
    <p>Get mentorship from the best professionals in the field</p>
    <p>"Mentoring is a brain to pick, an ear to listen, and a push in the right direction." - John Crosby</p>
  </div>
  <div class="working">
    <h1>How it works</h1>
    <h3>The search section is used to search for mentors or mentees who align with your goals.Here you can find users profile</h3>
    <h3>The chat section contains chat rooms,choose a room that aligns with the skill you want to be part of it, join and engage in a discussion</h3>

  </div>
</body>
<footer>
  <div class="contain">
    <div class="footer-info">
      <h3>Contact Us</h3>
      <p>Email: info@mentormate.com</p>
      <p>Phone: +254115735292</p>
    </div>
    <div class="footer-info">
      <h3>Visit Us</h3>
      <p>123 Main Street</p>
      <p>Nairobi, Kenya</p>
    </div>
    <div class="footer-info">
      <h3>Follow Us</h3>
      <li><a href="">X</li>
      <li><a href="">LinkedIn</li>
      <li><a href="">Facebook</li>
      <li><a href="">Instagram</li>
    </div>
  </div>
</footer>
<div class="slideshow-container">
  {% for image in images %}
  <div class="mySlides fade">
    <img src="{% static image %}" style="width:100%">
  </div>
  {% endfor %}
</div>




</html>
