{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MentorMate</title>
  <script src="{% static 'js/landingpage.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/landingpage.css' %}">



</head>
<body>
    <div class="header" id="myHeader">
        <div class="container">
          <div class="logo">MentorMate</div>
          <div class="navigation">
            <ul>
              <li><a href="#login">Login</a></li>
              <li><a href="#register">Register</a></li>
              <li><a href="#about">About</a></li>
            </ul>
          </div>
        </div>
      </div>
</body>
</html>
