{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <script src="{% static 'js/register.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/mentor.png' %}">


</head>
<body>
  <div class="container">
    <h2>Register For an account</h2>
    <form method='post' action= "{% url 'authentication:register' %}" id="registerForm" onsubmit="return validateForm()">
        {% csrf_token %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>
      <button type="submit">Register</button>
      <p>Already have an account?<a href="{% url 'authentication:login' %}">Login</a></p>
    </form>
  </div>
</body>
</html>
